@font-face {
  font-family:Mitra;
  src: url('../src/fonts/Mitra.ttf');
}
 @font-face {
  font-family:Aban;
  src: url('../src/fonts/Aban.ttf');
}
@font-face {
  font-family:Mj;
  src: url('../src/fonts/Mj flow.ttf');
}
 @font-face {
  font-family:Traffic;
  src: url('../src/fonts/Traffic.ttf');
}
 @font-face {
  font-family:Nasim;
  src: url('../src/fonts/nasim.ttf');
}
 @font-face {
  font-family:Ramsar;
  src: url('../src/fonts/Ramsar.ttf');
}
    